<div class="flex flex-auto">
  <div
    class="flex flex-auto items-center justify-center bg-white p-4 sm:p-12 dark:bg-neutral-950"
  >
    <div class="flex w-full max-w-80 flex-col sm:min-w-80">
      <!-- Logo -->
      <img
        class="w-12"
        src="/images/logo/logo.svg"
        alt="Fuse logo"
      />

      <!-- Title -->
      <div class="mt-8 text-4xl font-extrabold leading-tight tracking-tight">
        Iniciar sesión
      </div>

      <div class="mt-0.5 flex items-baseline font-medium">
        <div class="text-neutral-500">¿No tienes una cuenta?</div>
        <a
          class="ml-1 underline"
          routerLink="/auth/sign-up"
        >
          Registrarse
        </a>
      </div>

      <!-- Sign in form -->
      <form
        class="mt-8"
        (submit)="signIn($event)"
      >
        <div class="flex flex-col gap-y-4">
          <!-- Username field -->
          <mat-form-field class="w-full">
            <mat-label>Usuario</mat-label>
            <input
              id="username"
              matInput
              [formField]="signInForm.username"
            />
            <mat-error>
              @if (
                signInForm.username().touched() &&
                signInForm.username().invalid()
              ) {
                @for (error of signInForm.username().errors(); track error) {
                  {{ error.message }}
                }
              }
            </mat-error>
          </mat-form-field>

          <!-- Password field -->
          <mat-form-field
            appearance="fill"
            class="w-full"
          >
            <mat-label>Contraseña</mat-label>

            <input
              id="password"
              matInput
              type="password"
              [formField]="signInForm.password"
              #passwordField
            />

            <button
              matIconButton
              type="button"
              matSuffix
              (click)="
                passwordField.type === 'password'
                  ? (passwordField.type = 'text')
                  : (passwordField.type = 'password')
              "
            >
              @if (passwordField.type === 'password') {
                <mat-icon
                  class="size-5"
                  svgIcon="eye"
                ></mat-icon>
              }

              @if (passwordField.type === 'text') {
                <mat-icon
                  class="size-5"
                  svgIcon="eye-off"
                ></mat-icon>
              }
            </button>

            <mat-error>
              @if (
                signInForm.password().touched() &&
                signInForm.password().invalid()
              ) {
                @for (error of signInForm.password().errors(); track error) {
                  {{ error.message }}
                }
              }
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Actions -->
        <div class="mt-2 flex w-full items-center justify-between">
          <mat-checkbox class="-ml-2">Recordarme</mat-checkbox>

          <a
            class="font-medium underline"
            routerLink="/auth/forgot-password"
          >
            ¿Olvidaste tu contraseña?
          </a>
        </div>

        <!-- Submit button -->
        <button
          type="submit"
          matButton="filled"
          class="mt-6 w-full"
          [disabled]="signInForm().invalid()"
        >
          Iniciar sesión
        </button>

        <!-- Separator -->
        <div class="mt-8 flex items-center gap-x-4">
          <mat-divider class="flex-auto"></mat-divider>

          <div class="text-neutral-500">O continuar con</div>

          <mat-divider class="flex-auto"></mat-divider>
        </div>

        <!-- Single sign-on buttons -->
        <div class="mt-8 flex items-center space-x-4">
          <button
            type="button"
            matButton="outlined"
            class="flex-auto"
          >
            Google
          </button>

          <button
            type="button"
            matButton="outlined"
            class="flex-auto"
          >
            Apple
          </button>

          <button
            type="button"
            matButton="outlined"
            class="flex-auto"
          >
            GitHub
          </button>
        </div>
      </form>

      <!-- Alert -->
      <div
        class="mt-8 rounded-lg bg-zinc-200 p-4 text-neutral-700 dark:bg-neutral-800 dark:text-white"
      >
        Estás utilizando el sistema de biblioteca.
        <strong>Inicia sesión</strong> para acceder a tu cuenta.
      </div>
    </div>
  </div>

  <div
    class="relative hidden flex-auto items-center justify-center overflow-hidden border-l bg-neutral-950 p-8 sm:px-12 md:flex"
  >
    <!-- Background -->

    <!-- Rings -->
    <svg
      class="pointer-events-none absolute inset-0"
      viewBox="0 0 960 540"
      width="100%"
      height="100%"
      preserveAspectRatio="xMidYMax slice"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g
        class="text-neutral-700/25"
        fill="none"
        stroke="currentColor"
        stroke-width="100"
      >
        <circle
          r="234"
          cx="196"
          cy="23"
        ></circle>

        <circle
          r="234"
          cx="790"
          cy="491"
        ></circle>
      </g>
    </svg>

    <!-- Dots -->
    <svg
      class="absolute -right-16 -top-16 text-neutral-700"
      viewBox="0 0 220 192"
      width="220"
      height="192"
      fill="none"
    >
      <defs>
        <pattern
          id="837c3e70-6c3a-44e6-8854-cc48c737b659"
          x="0"
          y="0"
          width="20"
          height="20"
          patternUnits="userSpaceOnUse"
        >
          <rect
            x="0"
            y="0"
            width="4"
            height="4"
            fill="currentColor"
          ></rect>
        </pattern>
      </defs>

      <rect
        width="220"
        height="192"
        fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"
      ></rect>
    </svg>

    <!-- Content -->
    <div class="relative z-10 w-full max-w-2xl">
      <div class="text-5xl font-bold text-white">
        Bienvenido a nuestra biblioteca
      </div>

      <div class="mt-6 text-xl text-neutral-500">
        Accede al sistema de biblioteca para consultar libros,
        administrar tu información y disfrutar de todos nuestros recursos.
      </div>

      <div class="mt-12 flex items-center">
        <div class="flex shrink-0 items-center -space-x-1.5">
          <img
            class="h-10 w-10 rounded-full object-cover ring-1"
            src="/images/photos/female-18.jpg"
            alt="Avatar"
          />

          <img
            class="h-10 w-10 rounded-full object-cover ring-1"
            src="/images/photos/female-11.jpg"
            alt="Avatar"
          />

          <img
            class="h-10 w-10 rounded-full object-cover ring-1"
            src="/images/photos/male-09.jpg"
            alt="Avatar"
          />

          <img
            class="h-10 w-10 rounded-full object-cover ring-1"
            src="/images/photos/male-16.jpg"
            alt="Avatar"
          />
        </div>

        <div class="ml-4 font-medium tracking-tight text-neutral-500">
          Explora, aprende y descubre nuevos libros
        </div>
      </div>
    </div>
  </div>
</div>